{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "reviews/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
	<div class="row">

		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Leave Review</h6>
				</div>
				<div class="ui-block-content">					
					
                    <form action="/api/reviews/add" method="POST">
                    
						
                        <div class="form-group required is-empty"><label class="control-label" for="company_name">Company Name</label>
                            <input class="form-control" id="company_title" name="company_title" required="" type="text" value="">
                            <input name="csrf_token" id="csrf_token" type="hidden" value="{{csrf_token()}}"></input>
                            <span class="material-input"></span>
                        </div>
                        
                        <div class="form-group required is-empty"><label class="control-label" for="review_title">Review Subject</label>
                            <input class="form-control" id="review_title" name="review_title" required="" type="text" value="">
                            <span class="material-input"></span>
                        </div>

                        <div class="form-group required is-empty"><label class="control-label" for="review_body">Review Body</label>
                            <textarea class="form-control" id="review_body" name="review_body" required="" type="text" value=""></textarea>
                            <span class="material-input"></span>
                        </div>


                        <div class="form-group required is-empty"><label class="control-label" for="position">Position you interned as</label>
                            <input class="form-control" id="position_name" name="position_name" required="" type="text" value="">
                            <span class="material-input"></span>
                        </div>


                        <div class="form-group required is-empty"><label class="control-label" for="location">Location You Internet at</label>
                            <input class="form-control" id="job_location" name="job_location" required="" type="text" value="">
                            <span class="material-input"></span>
                        </div>

                        <div class="form-group required is-empty"><label class="control-label" for="company_name">Rating</label>
                            <select name="num_of_stars">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <span class="material-input"></span>
                        </div>
                        <button class="btn btn-primary btn-md-2" onclick="createReview()">Post Status</button>
                    </form>					
				</div>
			</div>
		</div>

		
</div>
</div>
{% endblock %}

