{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "reviews/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div id="newsfeed-items-grid">
				<div class="ui-block">
				<h1>{{company}}</h1>
				</div>
                <div class="ui-block">
				    <div id="reviews"></div>
				    <script type='text/javascript'>
					    loadReviews("{{company}}");
				    </script>
				</div>
			</div>
		</div>


	</div>
</div>
{% endblock %}