<!DOCTYPE html>
<html lang="en">
<head>

	<title>Landing Page</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="{{ url_for('static', filename='js/libs/webfontloader.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/posts.js') }}"></script>
	<script src="{{ url_for('static', filename='js/friends.js') }}"></script>
	<script src="{{ url_for('static', filename='js/microservices.js') }}"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Bootstrap/dist/css/bootstrap-reboot.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Bootstrap/dist/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Bootstrap/dist/css/bootstrap-grid.css') }}">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.min.css') }}">



</head>

{% block page %} {% endblock %}
<!-- JS Scripts -->
<script src="{{ url_for('static', filename='js/jQuery/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.appear.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.matchHeight.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/svgxuse.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/imagesloaded.pkgd.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/Headroom.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/velocity.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/ScrollMagic.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.waypoints.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.countTo.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/material.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/smooth-scroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/selectize.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/swiper.jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/fullcalendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/isotope.pkgd.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/ajax-pagination.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/chartjs-plugin-deferred.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/circle-progress.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/run-chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.magnific-popup.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.gifplayer.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/mediaelement-and-player.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/mediaelement-playlist-plugin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/ion.rangeSlider.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/MarkerClusterGroup.js') }}"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs-init/libs-init.js') }}"></script>
<script defer src="{{ url_for('static', filename='fonts/fontawesome-all.js') }}"></script>

<script src="{{ url_for('static', filename='Bootstrap/dist/js/bootstrap.bundle.js') }}"></script>

</body>
</html>
